.footer{
    background-image: url('../../images/40.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 20em;
    padding: 5% 5% 5% 10%;
    display: grid;
    grid-template-columns: 25% 75%;
}

.font{
    color: 	#DC143C;
    font-size: 50px;
    font-family: 'Akaya Telivigala';
    font-weight: bold;
}

span{
    color: 	#006400;
}

.image{
    width: 80px;
    height: 80px;
    border-radius: 20%;
}

.image:hover{       
    box-shadow: 1px 1px 10px #20B2AA;
}

.img_footer{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    margin-top: 5%;
}

@media only screen and (max-width: 600px){
    .footer{
        height: 20em;
        padding: 5% 5% 5% 5%;
        display: block;
    }
    
    .font{
        margin-left: 10%;
        margin-top: 15%;
        font-size: 35px;
    }
    
    .image{
        width: 60px;
        height: 60px;
        margin-left: 5%;
    }
}
  